/*-----------------------------------------------------------------------------------------------*/
/*                   A BETTER TOOLTIP - POWERED BY JQUERY AWESOMENESS                            */
/*                   AUTHOR: jon cazier                                                          */
/*                   EMAIL: jon at 3nhanced dot com                                              */
/*-----------------------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------------------*/
/*                                  CSS RESET THANKS TO ERIC MEYER                               */
/*                   http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/                */
/*-----------------------------------------------------------------------------------------------*/
/* remember to define focus styles! */
:focus {outline: 0;}
ol, ul {list-style: none;}
/* tables still need 'cellspacing="0"' in the markup */
caption, th, td {text-align: left;font-weight: normal;}
blockquote:before, blockquote:after,
q:before, q:after {content: '"';}
blockquote, q {quotes: '"' '"';}

/*-----------------------------------------------------------------------------------------------*/
/*                                          GENERAL STYLES                                       */
/*-----------------------------------------------------------------------------------------------*/

a {color: #8CA3AF; font-weight: bold; text-decoration:none;}

strong {font-weight: bold;}

textarea {white-space: nowrap;}

/*-----------------------------------------------------------------------------------------------*/
/*                                          GENERAL LAYOUT                                       */
/*-----------------------------------------------------------------------------------------------*/


#wrapper {}

	#content {
		width: 270px;
		padding: 15px 25px; 
		float: left; 
		background: transparent url(images/leftColumn.gif) no-repeat; 
		min-height: 575px;
		height: auto !important;
		height: 575px;}
		
	#main {}
	
	//.tTip {width: 200px; position: absolute; cursor: pointer; color: #666; font-weight: bold;}
	.tip {color: #333;}
	
		#cloud1 {top: 0px; left: 0px;}
		#cloud2 {top: 0px; left: 0px;}
		#cloud3 {top: 0px; left: 0px;}
				
/*-----------------------------------------------------------------------------------------------*/
/*                                         TOOLTIP STYLES                                        */
/*-----------------------------------------------------------------------------------------------*/

.tip {
	width: 212px;
	padding-top: 37px;
	overflow: hidden;
	display: none;
	position: absolute;
	z-index: 500;
	background: transparent url(images/tipTop.png) no-repeat top;}
	
.tipMid {background: transparent url(images/tipMid.png) repeat-y; padding: 0 25px 20px 25px;}
.tipBtm {background: transparent url(images/tipBtm.png) no-repeat bottom; height: 32px;}
